<div class="container">

    <form class="panel-body form-horizontal" name="loginForm" role="form" ng-submit="login()">
        <div>

            <div form-input label="Email">
                <input type="email" class="form-control" id="inputEmail" name="inputEmail"
                       ng-model="viewModel.email" required>
            </div>
            <div form-input label="Password">
                <input type="password" class="form-control" id="inputPassword" name="inputPassword"
                       ng-model="viewModel.password" required>
            </div>

        </div>
        <input type="submit" style="visibility: hidden "/>

        <div class="alert alert-danger" ng-show="viewModel.message">{{ viewModel.message }}</div>

        <div class="line line-dashed"></div>
        <a ui-sref="users_password" class="pull-right m-t-xs">
            <small>Forgot password?</small>
        </a>
        <a class="button btn btn-info" ng-disabled="loginForm.$invalid || viewModel.processing"
           ng-click="login()"
           class="btn btn-info">{{ viewModel.status }}</a>


    </form>
</div>