<section id="content" class="m-t-lg wrapper-md animated fadeInUp" ng-init="init()">
    <a href="#" style="text-align: center;display:block">
        <img src="images/logo/flat_logo.png" style="width: 300px;" alt=""/></a>

    <div class="row m-n">
        <div class="col-md-4 col-md-offset-4 m-t-lg">
            <section class="panel">
                <header class="panel-heading bg bg-info text-center">
                    Reset your Password
                </header>
                <form class="panel-body form-horizontal" name="PasswordResetForm" role="form">
                    <div>

                        <div form-input label="Email">
                            <input type="email" class="form-control" id="inputEmail" name="inputEmail"
                                   ng-model="viewModel.email" required>
                        </div>

                    </div>

                    <div class="alert alert-info" ng-show="viewModel.message">{{ viewModel.message }}</div>

                    <div class="line line-dashed"></div>
                    <a class="button btn btn-info" ng-disabled="PasswordResetForm.$invalid || viewModel.processing"
                       ng-click="reset()"
                       class="btn btn-info">{{ viewModel.status }}</a>


                </form>



            </section>
        </div>
    </div>
</section>
<!-- footer -->
<footer id="footer">
    <div class="text-center padder clearfix">
        <p>
            <small>Invirohub Energy Management System <br>&copy; 2013</small>
        </p>
    </div>
</footer>